<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <a href="#/chart" class="thumbnail">
        <img src="./images/chart.png" alt="chart.png">
        <span>Chart</span>
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#/line-chart" class="thumbnail">
        <img src="./images/line-chart.png" alt="line-chart.png">
        <span>LineChart</span>
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#/bar-chart" class="thumbnail">
        <img src="./images/bar-chart.png" alt="bar-chart.png">
        <span>BarChart</span>
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#/pie-chart" class="thumbnail">
        <img src="./images/pie-chart.png" alt="pie-chart.png">
        <span>PieChart</span>
      </a>
    </div>
  </div>
</div>
